<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>CGI Post Types</title>
    <link rel="stylesheet" href="cgi/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Acessando o CGI/Post</h1>
        <p>Estamos acessando o CGI/Post</p>
        <a href="/cgi?path=/post/json" class="button">JSON</a>
        <!-- Add more buttons for other POST request types -->
        <p><a href="/cgi" class="button">Voltar</a></p></p>
    </div>
</body>
</html>